/* ****************************** 
		 HTML Tag Styles 
 ****************************** */
body 
{
	font-family: Arial, "Zurich BT";
	font-size:9pt;
	color: #000000;
	SCROLLBAR-FACE-COLOR: #B9D4ED;
	SCROLLBAR-HIGHLIGHT-COLOR: #EEF5FC;
	SCROLLBAR-SHADOW-COLOR: #c9c7b3;
	SCROLLBAR-ARROW-COLOR: #000000;
	SCROLLBAR-BASE-COLOR: #B9D4ED;
	scrollbar-3d-light-color: #EEF5FC;
	scrollbar-dark-shadow-color: #EEF5FC;
	margin : 0pt;
	margin-top: 0pt;
	margin-right: 0pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
}
tr 
{
	font-family: Arial, "Zurich BT";
	color:#000000;
	font-size: 9pt;
}

.checkbox 
{  
	font-family: Arial, Helvetica, sans-serif; border: #FFFFFF
}

td
{
	font-family: Arial, "Zurich BT";
	color:#000000;
	font-size: 9pt;
}
INPUT
{
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #666666 1px solid; COLOR: #000000; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif;
}
SELECT
{
	BORDER-RIGHT: #666666 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #666666 1px solid; COLOR: #000000; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif;
}
TEXTAREA 
{
	BORDER-RIGHT: white 1px solid; BORDER-TOP: #666666 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #666666 1px solid; COLOR: #000000; BORDER-BOTTOM: #666666 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: white;
}

/* ****************************** 
	 Top Navigation Links
 ****************************** */
 .topNav {
 	font-size:9pt;
	font-weight:bold;
	color:#000000;
 }

a.aTopNav {
	 text-decoration:underline;
	 color:#CC0000;
	 font-weight:bold;
}

/* ****************************** 
	 Divider Line Backgrounds
 ****************************** */
.bgSpacer1 {
	background-color:#243f76;
}

/* ****************************** 
	 BreadCrumbs
 ****************************** */
.breadcrumbLink 
{
FONT-SIZE: 8pt; COLOR: #666666; 
FONT-FAMILY: Arial, Helvetica, sans-serif; 
TEXT-DECORATION: none
}


.breadcrumbnormal
{
FONT-WEIGHT: normal; 
FONT-SIZE: 8pt; 
COLOR: #5F5F5F; 
FONT-FAMILY: Arial, Helvetica, sans-serif; 
TEXT-DECORATION: none
}

.breadcrumbbold 
{
FONT-WEIGHT: bold; 
FONT-SIZE: 8pt; 
COLOR: #a41c2b; 
FONT-FAMILY: Arial, Helvetica, sans-serif; 
TEXT-DECORATION: none
}


/* ****************************** 
	 Masthead Styles
 ****************************** */
td.bgMasthead {
	font-size: 10pt;
	font-weight: bold;
	font-family: Arial, "Zurich BT";
	color: #FFFFFF;
	text-decoration: none;
	background-color: #B9D4ED
}

td.bgMasthead1 {
	font-size: 9pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #686868
}

td.bgMasthead2 {
	font-size: 9pt;
	font-weight: bold;
	font-family: Arial, "Zurich BT";
	color: #FFFFFF;
	text-decoration: none;
	background-color: #6795BF}


/* ****************************** 
	 Section Link Styles
 ****************************** */
.bgLeftNav {
	background-color: #CCCCCC;
}
a.leftNav {
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	color: #333333;
}
a.leftNav:hover {
	text-decoration: none;
}

/* ****************************** 
	 Right Nav Styles
 ****************************** */
.bgRightNav {
	background-color: #99CCCC;
}
a.rightNav {
	font-size:12px;
	font-style:normal;
	font-weight:bold;
	color: #333333;
}
a.rightNav:hover {
	text-decoration: none;
}

/* ****************************** 
	 Content Styles
 ****************************** */
.content {
	color: #333333;
	line-height: 130%;
	text-align: justify;
	padding-right: 10px;
	padding-left: 10px;
}
.contentRight {
	color: #333333;
	line-height: 130%;
	text-align: right;
}
.contentLeft {
	color: #333333;
	line-height: 130%;
	text-align: left;
}
.contentCenter {
	color: #333333;
	line-height: 130%;
	text-align: center;
}
.contentHead {
	font-size: 11pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #243f76;
	text-decoration: none;
}

.contentSubHead {
	font-size: 12pt;
	font-weight: bold;
	color:#333333;
}
td.tableHead {
	font-size: 9pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #4172A9;
	font-family: Arial, "Zurich BT"; text-decoration: none
}
td.columnHead {
	font-weight: bold;
	background-color: #ded7bd;
}
.boldText {
	font-weight: bold;
}
a.textLink {
	color: #000000;
	font-size: 8pt; text-decoration: none
}

/* ****************************** 
	 Form Styles
 ****************************** */
.formButton {
	color: #FFFFFF;
	border-color: #333333 #CCCCCC #CCCCCC #333333; font-family: Arial, "Zurich BT"; font-size: 8pt; background-color: #243f76; font-weight: bold; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px
}
.formButton2 { 
	color: #333333; border-color: #CCCCCC #333333 #333333 #CCCCCC; font-family: Arial, "Zurich BT"; font-size: 8pt; background-color: #efefe0; font-weight: bold; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px
}
.formButton1 { 
	color: #FFFFFF; border-color: #CCCCCC #333333 #333333 #CCCCCC; font-family: Arial, "Zurich BT"; font-size: 8pt; background-color: #a41c2b; font-weight: bold; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px
}

/* ****************************** 
	 Footer Styles
 ****************************** */
td.footer{
	font-size: 8pt;
	color:#FFFFFF;
	background-color: #333333;
	text-align: center;
}
a.footer {
	font-size: 8pt;
	text-decoration: underline;
	color: aqua;
}
a.footer:hover {
	text-decoration: none;
}

/* ****************************** 
	Pagination Element Styles
 ****************************** */
td.pgnText {
	color: #990000;
	text-align: center;
}
a.pgnText {
	color: #990000;
	text-decoration: underline;
}
a.pgnText:hover {
	text-decoration: none;
}

/* ****************************** 
	Anchor Styles
 ****************************** */
.anchorTop {
	text-align: right;
}
a.anchorTop {
	color: maroon;
	font-weight: bold;
	text-decoration: underline;
}
td.label1 {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #333333; text-decoration: none; background-color: #FFFFFF}
td.label2 { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #333333; text-decoration: none; background-color: #ded7bd}
td.label3 { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #333333; text-decoration: none; background-color: #efefe0}
td.label2BOLD { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #333333; text-decoration: none; background-color: #ded7bd; font-weight: bold }
td.tablehead2 { font-size: 11pt; font-weight: bold; color: #333333; background-color: #ded7bd; ; font-family: Arial, "Zurich BT"; text-decoration: none }
td.label3BOLD { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #FFFFFF; text-decoration: none; background-color: #243f76; font-weight: bold }

.whitebg { color: #333333; background-color: #FFFFFF}
.loginlinebg {  background-color: #4172A9}
.topbggray { font-size: 8pt; font-weight: normal; color: #000000; background-color: #FBC97A; ; font-family: Arial, Helvetica, sans-serif; text-decoration: none }
a:hover {  color: #a41c2b; text-decoration: none}
.rowcolor1 {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #333333; background-color: #FFFFFF; text-decoration: none; font-weight: bold}
.rowcolor2 { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #333333; background-color: #EEF5FC; text-decoration: none ; font-weight: bold}
.rowcolorLine { font-family: Arial, Helvetica, sans-serif; font-size: 9pt; color: #333333; background-color: BDBDBD; text-decoration: none }
.rowcolorNormal { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #333333; background-color: #FFFFFF; text-decoration: none}
td.submasterhead { font-size: 9pt; font-weight: bold; font-family: Arial, "Zurich BT"; color: #333333; text-decoration: none; background-color: #B9D4ED}
td.bgTitle { font-size: 9pt; font-weight: bold; font-family: Arial, "Zurich BT"; color: #FFFFFF; text-decoration: none; background-color: #4172A9}
a {  color: #000000; text-decoration: none}
.bluelinks {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #336699; text-decoration: underline}
.rowcolornormal2 { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #333333; background-color: #EEF5FC; text-decoration: none }
.rowcolor2-Bold {
font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #333333; background-color: #EEF5FC; text-decoration: none ; font-weight: bold
}
.bgleft {  background-color: #93BEEE}
td.bgtitle2 { font-size: 9pt; font-weight: bold; font-family: Arial, Helvetica, sans-serif; color: #000000; text-decoration: none; background-color: #B9D4ED}
.linkswt {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #FFFFFF; text-decoration: none}
.linkswt:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: bold; color: #FFFFFF; text-decoration: none}
.contentHead2 { font-size: 9pt; font-weight: bold; font-family: Arial, Helvetica, sans-serif; color: #243f76; text-decoration: none; }
.grey { font-family: Arial, Helvetica, sans-serif; font-size: 8pt; color: #333333; background-color: #CC3300; text-decoration: none }
.linkbold {  font-family: Arial, Helvetica, sans-serif; font-size: 8pt; font-weight: bold; color: #243f76; text-decoration: none}
.rowText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #333333;
	text-decoration: none;
	background-color: #DDEBF7;

}
.textField {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #333333;
	text-decoration: none;
	height: 18px;
	border: 1px solid #CCCCCC;


}
.submasthead1 {
font-size: 9pt; font-weight: bold; font-family: Arial, "Zurich BT"; color: #333333; text-decoration: none; background-color: #DCEAF5
}
.contentHead2Copy {
font-size: 11pt; font-weight: bold; font-family: Arial, Helvetica, sans-serif; color: #243f76; text-decoration: none;
}
.contentHeadBigger {

	font-size: 15pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #243f76;
	text-decoration: none;
}
.contentHead13 {


	font-size: 13pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #243f76;
	text-decoration: none;
}
.contentHead11 {



	font-size: 10pt;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #243f76;
	text-decoration: none;
}
.submasthead2 {

font-size: 9pt; font-weight: bold; font-family: Arial, "Zurich BT"; color: #333333; text-decoration: none; background-color: #DCEAF5
}


