<?xml version="1.0" encoding="utf-8" ?>
<!--<configuration>-->
<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General">
  <listeners>
    <add rollFileExistsBehavior="Increment" rollInterval="Hour" rollSizeKB="0" timeStampPattern="yyyy-MM-dd" name="Flat File Performance Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          fileName="C:\YRSlog\BatchActivityLogs.log" formatter="Performance Text Formatter" />
  </listeners>
  <formatters>
    <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
         template="Timestamp: {timestamp(local)}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}"
         name="Performance Text Formatter" />
  </formatters>
  <categorySources>
    <add switchValue="All" name="BatchActivityLog">
      <listeners>
        <add name="Flat File Performance Listener" />
      </listeners>
    </add>
  </categorySources>
</loggingConfiguration>
<!--</configuration>-->

