<?xml version="1.0" encoding="utf-8"?>
<!--<dataConfiguration></dataConfiguration>-->




<connectionStrings>

  <add name="YRS" connectionString="Data source=yrsup_dev;Initial catalog=YRS;  integrated security = true;" providerName="System.Data.SqlClient" />
  <add name="YRS_IDM" connectionString="Data source =yrsup_dev;Initial catalog=YRS;  integrated security = true;" providerName="System.Data.SqlClient" />
</connectionStrings>