<?xml version="1.0" encoding="utf-8"?>
<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General">
  <listeners>
    <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
              formatter="One line" rollFileExistsBehavior="Increment" rollInterval="Day"
      fileName="C:\Log\YRS\trace.log" rollSizeKB="0" traceOutputOptions="None" />

    <add name="Log Exception" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            formatter="Text Formatter" rollFileExistsBehavior="Increment" rollInterval="Day"
    fileName="C:\Log\YRS\Exception.log" rollSizeKB="0" traceOutputOptions="None" />

    
    <add name="ActivityLog" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            formatter="TextLiner" rollFileExistsBehavior="Increment" rollInterval="Day"
    fileName="C:\Log\YRS\ActivityLog.log" rollSizeKB="0" traceOutputOptions="None" />
    
    <!--Start: 12/09/2014	Dinesh Kanojia	BT-2708:YRS 5.0-2259 - Optimizing the Cash out process to improve its performance (Re-Open)-->
    <add rollFileExistsBehavior="Increment" rollInterval="Hour" rollSizeKB="0" timeStampPattern="yyyy-MM-dd"
       name="Flat File Performance Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    fileName="C:\Log\YRS\BatchActivityLogs.log" formatter="Performance Text Formatter" />
    <!--End: 12/09/2014	Dinesh Kanojia	BT-2708:YRS 5.0-2259 - Optimizing the Cash out process to improve its performance (Re-Open)-->
    
    
    
  </listeners>
  <formatters>
    <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="{message}{category}{timestamp}"
        name="One line" />
    <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}"
        name="Text Formatter" />

	<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		template="{message}{newline}Category:{category}{newline}TimeStamp:{timestamp}"
		name="TextLiner" />

    <!--Start: 12/09/2014	Dinesh Kanojia	BT-2708:YRS 5.0-2259 - Optimizing the Cash out process to improve its performance (Re-Open)-->
    <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
		 template="Timestamp: {timestamp(local)}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}"
		 name="Performance Text Formatter" />
    <!--End: 12/09/2014	Dinesh Kanojia	BT-2708:YRS 5.0-2259 - Optimizing the Cash out process to improve its performance (Re-Open)-->

  </formatters>
  <categorySources>
	<add switchValue="All" name="Application">
		  <listeners>
			  <add name="Rolling Flat File Trace Listener" />
		  </listeners>
	</add>
    <add switchValue="All" name="General">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </add>
    <add switchValue="All" name="Exception">
      <listeners>
        <add name="Log Exception" />
      </listeners>
    </add>
	<add switchValue="All" name="ActivityLog">
		<listeners>
			<add name="ActivityLog" />
		</listeners>
	</add>

    <!--Start: 12/09/2014	Dinesh Kanojia	BT-2708:YRS 5.0-2259 - Optimizing the Cash out process to improve its performance (Re-Open)-->
    <add switchValue="All" name="BatchActivityLog">
      <listeners>
        <add name="Flat File Performance Listener" />
      </listeners>
    </add>
    <!--End: 12/09/2014	Dinesh Kanojia	BT-2708:YRS 5.0-2259 - Optimizing the Cash out process to improve its performance (Re-Open)-->
	  
	  <!-- 	NP:2012.07.19 - Uncomment the listeners section below to see 
		all requests going between the application and the QAS service	-->
    <add switchValue="All" name="Proweb">
      <listeners>
        <!-- <add name="Rolling Flat File Trace Listener" /> -->
      </listeners>
    </add>
  </categorySources>
  <specialSources>
    <allEvents switchValue="All" name="All Events" />
    <notProcessed switchValue="Off" name="Unprocessed Category" />
    <errors switchValue="All" name="Logging Errors &amp; Warnings">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
        <add name="Log Exception" />
		<add name="ActivityLog" />
      </listeners>
    </errors>
  </specialSources>
</loggingConfiguration>